.img {
    width: 450px;
    height: 400px;
    cursor: pointer;
>img{
    width: 500px;
    height: 500px;
    cursor: pointer; 
  
    @media (max-width: 768px) {
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }
}
}