.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    padding: 0rem 3.125rem 0rem 3.125rem;
    margin-top: 100%;
    overflow: hidden;

    >h2 {
        margin-bottom: 4rem;
    }

    @media (max-width: 400px) {
        margin-top: 52.5rem;
    }

    @media (min-width: 400px) {
        margin: 46.875rem 3.125rem 0rem 4.375rem;
    }

    @media (min-width: 768px) {
        margin: 11.25rem 3.125rem 0rem 5rem;
    }

}


.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
    width: 100%;

    >li {
        width: 15.625rem;
        height: 6.25rem;
        border-radius: 0.9375rem;
        border: 0.1875rem solid var(--color-second-title);
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 2.1875rem;
        flex-shrink: 0;
        transition: transform 1s;

        >img {
            margin-left: 0.3125rem;
        }
    }

    @media (max-width: 26.5625rem) {
        width: 15.625rem;

    }

    @media (max-width: 56.25rem) {
    
        flex-direction: row;
        max-width: 100%;
        flex-wrap: nowrap;
        animation: scroll 20s linear infinite;
   

        &:hover{
            animation-play-state: paused;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(calc(-15.625rem * 9));
            }
        }
        
        >li:hover{
            transform: translateZ(1.25rem);
        }
        
    }
}

.scroller{
    display: flex;
}

.card_clone{
    display: none;

    @media (max-width: 56.25rem) {
        display: flex;

        &:hover {
            animation-play-state: paused;
        }
    }
    @media (max-width: 26.5625rem) {
        display: none;
    }
}


