.first_section{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }
    
    // @media (max-width: 426px) {
    //     margin: 0px 0px 0px 40px;
    // }
}