:root{
    --background: #100E0E;

    --background-button: #D6D0EA;
    --color-button: #100E0E;

    --color-title: #FFFFFF;
    --color-second-title: #7B51FF;
    --color-sub-title: #907AD4;
    --color-button-cv: #100E0E;
    --color-logo: #7B51FF;

    --backgroud-menu: #7B51FF;
    --color-menu:#FFFFFF ;
 
    --font-family: 'Questrial', sans-serif;
}

[data-theme='dark']{
    --background: #D6D0EA;

    --background-button: #100E0E;
    --color-button: #D6D0EA;

    --color-title: #100E0E;
    --color-second-title: #7B51FF;
    --color-sub-title: #907AD4;
    --color-button-cv: #D6D0EA;
    --color-logo: #100E0E;

    --backgroud-menu: #7B51FF;
    --color-menu:#100E0E;

    --font-family:'Questrial', sans-serif;
}

body{
    line-height: 1;
    display: block;


    background-color: var(--background);  
}

main{
    margin-top: 100px;

}