.title {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--color-title);
    font-family: var(--font-family);

    &.two {
        font-size: 4.5rem;
        font-weight: 500;

        &.project{
            font-size: 2.3rem;
            font-weight: 500;
        }
        
        &.sub {
            color: var(--color-second-title);

            &.a{
                font-size: 1.2rem;
            }
            &.span{
                font-size: 1.8rem;
            }
        }
        @media (max-width: 768px) {
            font-size: 3.5rem;
        }
    }

    &.sub-title {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-sub-title);

        &.a {
            font-size: 1.2rem
        }
    }

    &.text {
        font-size: 1.5rem;
        font-weight: 400;
        position: relative;

        &::after{
            content: " ";
            width: 0%;
            height: 3px;
            border-radius: 10px;
            background-color: var(--color-title);;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: 0.5s ease-in-out;
        }

        &:hover::after {
          width: 100%;
          
        }

        &:hover{
            font-size: 2rem;
            font-weight: 600;
            transition: 0.5s ease-in-out;
        }
    }

    &.button {
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        &:hover{
            color: var(--color-button);  
        }
    }

    &.paragraph{
        font-size: 1.875rem;
        font-weight: 500;
    }

    &.span{
        font-size: 1.2rem;
        font-weight: 500; 
    }

    @media (max-width: 376px) {
       font-size: 2rem;
    }
}