.conteiner{
    height: 50px;
    padding: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid var(--color-second-title);
    box-shadow: 0 0 15px 15px var(--color-second-title);
}

.button_clear{
    border: none;
    background-color: transparent;
}

.img_theme{
    height: 1.8rem;
}