.conteiner {
    height: 50px;
    padding: 25px;

    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--background);
    z-index: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid var(--color-second-title);
    box-shadow: 0 0 15px 15px var(--color-second-title);

    // @media (max-width: 600px) {
    //     justify-content: center;
    //     gap: 40px;
    //     padding: 20px 25px 15px 0px;
    // }

    @media (max-width: 768px) {
        gap: 40px;
        padding: 20px 25px 20px 0px;
    }

}

.button_clear {
    border: none;
    background-color: transparent;
}

.img_theme {
    height: 1.8rem;

    @media (max-width: 780px) {
        height: 1.3rem;
    }
}