.conteiner {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 55%;

    > p{
        margin-top: 50px; 
        display: flex;
        gap: 2px;

        > img{
            width: 20px;
            height: 20px;
        }
    }
    
    // @media (min-width: 1024px) {
    //     margin: 0% 0% 10% 0%;
    // }

    // @media (min-width: 768px) {
    //     margin-top: 70%; /* Ajuste a margem superior em telas menores */
    // }

    // @media (max-width: 425px) {
    //     margin-top: 100px; /* Ajuste a margem superior em telas menores */
    // }

    // @media (max-width: 320px) {
    //     margin-top: 50px; /* Ajuste a margem superior em telas menores */
    // }
}

.conteiner_div {
    width: 100%;
    border-bottom: 2px solid var(--backgroud-menu);
    border-top: 2px solid var(--backgroud-menu);
    padding: 80px 0px 80px 0px;

    >h2 {
        margin-bottom: 60px;
    }

    >div {
        display: flex;
        justify-content: center;
        gap: 150px;

        >a {
            display: flex;
            flex-direction: column;
            align-items: center;

            >img {
                width: 60px;
                margin-bottom: 15px;
            }
        }

        @media (max-width: 1024px) {
            gap: 80px; /* Ajuste o espaçamento em telas menores */
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 3rem;
        }

        @media (max-width: 425px) {
            gap: 1.5rem; /* Ajuste o espaçamento em telas muito pequenas */
            > a {
                > img {
                    width: 50px; /* Reduza o tamanho das imagens em telas menores */
                }
            }
        }

        @media (max-width: 320px) {
            gap: 1rem; /* Ajuste o espaçamento em telas muito pequenas */
            > a {
                > img {
                    width: 40px; /* Reduza ainda mais o tamanho das imagens em telas menores */
                }
            }
        }
    }

}